
.cardWrapper, .cardWrapper img, .cardWrapper a{
    width: 90%;
}

.cardWrapper img, .cardWrapper a{
    height: 100%;
    width: 100%;
}

.cardBody, .cardFooter, #starsCont{
    display: flex;
}

.cardBody, .cardFooter{
    flex-direction: column;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    max-height: 280px;
}

.cardWrapper, .cardWrapper img{
    border-radius: 20px;
}

.cardWrapper, .productName{
    color: var(--ChocoNoir);
}


.cardWrapper {
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 25px;
    transition: transform .25s;
    height: 450px;
    border: 0.5px solid var(--ChocoBleu);
}

.cardWrapper:hover,
.cardWrapper button:hover {
    cursor: pointer;
}



.cardWrapper img {
    object-fit: cover;
    background-origin: padding-box;
    max-height: 280px;
}



.cardWrapper a {
    transition: transform .25s;
}

.cardWrapper p {
    justify-self: center;
}

.cardFooter {
    justify-content: center;
    align-self: end;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: background-color 1s;
}

.cardBody {

}

.productName {
    font-weight: bolder;
    margin-top: 10px;
    font-size: 1.15em;
}

#starsCont {
    align-items: baseline;
}

#starsCont svg {
    height: 14px;
}

.starChecked {
    fill: var(--ChocoOrange);
}

.starUnchecked {
    fill: var(--ChocoNoir);
}
    


@media screen and (min-width:768px) {
.cardWrapper img {
max-height: unset;

}
    
    .cardWrapper{
    width: 350px;
    height: 450px;
    }

    .cardWrapper:hover {
        transform: scale(1.05);
    }

    .cardWrapper:hover > div.cardFooter {
        background-color: var(ChocoBlanc);
        margin-top: 0;
    }

   /* .cardWrapper:hover > div a img {
        max-height: 280px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-bottom: 0;
    }*/




}