.cardWrapper{
width: 100%;
max-width: 350px;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
margin: 15px auto;
color:black;
transition: transform .25s;
height: 450px;
border-radius: 20px;



}

.cardWrapper:hover, .cardWrapper button:hover{
cursor: pointer;


}

.cardWrapper:hover{
    transform: scale(1.1);

}

.cardWrapper:hover>div a img{
    max-height:280px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0;


}



.cardWrapper img{
height: 100%;
width: 100%;
object-fit: cover;
background-origin: padding-box;
border-radius: 20px;





}

.cardWrapper:hover>div.cardFooter{
    background-color: white;
    margin-top: 0;


}

.cardWrapper a{
width: 100%;
height: 100%;
transition: transform .25s;
}

.cardWrapper p{
justify-self: center;

}

.cardWrapper button{
    padding: 15px;
    margin: 20px;
    font-weight: bolder;
    font-size: 1.1em;
    color: white;
    background-color: var(--ChocoMarron);
    border: none;



}

#cardBody{
display: flex;
flex-direction: column;
align-items: center;
grid-column: 1;
grid-row: 1;

}

.cardFooter{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-column: 1;
grid-row: 1;
align-self: end;
background-color: rgba(255,255,255,0.5);
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
transition: background-color 1s;
}

.productName{
font-weight: bolder;
margin-top: 10px;
font-size: 1.15em;
color: var(--ChocoNoir);

}

@media screen and (min-width:768px){
    
    .cardWrapper{
    width: 350px;
    height: 450px;
    }


}