*{
box-sizing: border-box;
margin: 0;
padding: 0;



}

a{text-decoration: none;}

#filters{
    min-width: 20%;

}

.filtreCont{
margin: 15px;


}

.showCat div{
    display:block;
}

.hideCat div{
    display: none;
}

.showPrice div{
    display:block;
}

.hidePrice div{
    display: none;
}

.showNotes div{
    display:block;
}

.hideNotes div{
    display: none;
}

@media screen and (min-width:768px){

        #catPlus, #prixPlus, #notesPlus{
            display: none;
        }
   
        
        .hideCat div{
            display: block;
        }

        .hidePrice div{
            display: block;
        }

        .hideNotes div{
            display: block;
        }




}
