*{
box-sizing: border-box;
margin: 0;
padding: 0;



}

a{text-decoration: none;}

#filters{
    min-width: 20%;
    margin-left: 20px;
    margin-right: 20px;
}

#filters h3{
    color: var(--ChocoOrange);
    margin: 5px;
    font-size:x-large;
}

#filters h3::first-letter{
    color: var(--ChocoMarron);
}


.filtreCont{
margin: 15px;

}

.filtreCont h4{
    color: var(--ChocoMarron);
    font-size: larger;
}

.filtreCont h4::first-letter{
    color: var(--ChocoOrange);
}

.filtreContTitle{
    color: var(--ChocoMarron);
}

.checkWithLabel{
    padding: 5px;
    font-size: larger;
}

.selectCont{
    display: flex;
    justify-content: space-between;
}

.showCat div{
    display:flex;
}

.hideCat div{
    display: none;
}

.showPrice div{
    display:flex;
}

.hidePrice div{
    display: none;
}

.showNotes div{
    display:flex;
}

.hideNotes div{
    display: none;
}

@media screen and (min-width:768px){

        #catPlus, #prixPlus, #notesPlus{
            display: none;
        }
   
        
        .hideCat div{
            display: flex;
            
        }

        .hidePrice div{
            display: flex;
            padding: 5px;
            font-size: larger;
        }

        .hideNotes div{
            display: flex;
            padding: 5px;
            font-size: larger;
        }

        .hideCat div select, .hidePrice div select, .hideNotes div select {
            width: 25%;
        }




}
