.cartItemWrapper a:hover, .cartItemWrapper svg:hover{
    cursor: pointer;    
}

.cartItemInfos, .cartItemWrapper{
    display: flex;
    }


.cartItemWrapper{
    width: 98%;
    margin: 15px auto;
    justify-content: space-between;
    align-items: center;
    /*background-color:   var(--ChocoBleu);*/
    padding: 5px;
    border-radius: 20px;
    border: 1px solid var(--ChocoBleu);
}

.cartItemWrapper svg{
    width: 25px;
    height: 25px;
    margin: 10px;
    fill: var(--ChocoOrange);
}

.cartItemWrapper a:hover{
    text-decoration: none;
}

.cartItemWrapper svg:hover{
    fill: red;
}

.cartMiniImg{
    height: 100%;
    width: 90%;
    max-height: 100px;
   /* min-width: 150px;*/
    object-fit: cover;
    border-radius: 20px;
}

.cartItemInfos{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: var(--ChocoNoir);
    font-weight: bolder;
    font-size: 1.2em;
}

.cartButtonCont{
display: flex;
align-items: baseline;

}

.pivotCartButton{

    display: flex;
    flex-direction: column;
    align-items:center;



}





@media screen and (min-width:768px){

    .cartItemWrapper{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr 3fr;
       height: 120px;
        
        }

        .cartItemInfos{align-items: flex-start;}

        .pivotCartButton{

           
            flex-direction: row;
            justify-content: space-between;
        
        
        
        }





}