.carouselWrapper{
    background-color: var(--ChocoNoir)
}

.carousel, .carouselCard, .leftArrow, .rightArrow {
    display: flex;
}

.carouselCard, .leftArrow, .rightArrow, .carouselDots, .mainTitle, .mainButton{
    position: absolute;
}

.carousel, .carouselWrapper, .carouselCard, .cardImage, .mainTitle{
    width: 100%;
}

.leftArrow, .rightArrow, .imgDot, .mainButton{
    cursor: pointer;
}



.carousel{
    height: 80vh;
    max-width: var(--ChocoMaxWidth);
    margin: 0 auto;
}
.carouselWrapper{
    position: relative;
    height: 100%;
}

.carouselCard{
    flex:1;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none ;
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
}

.cardImage{
    object-fit: cover;
}

.carouselCardActive{
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

.leftArrow, .rightArrow{
    top:50%;
    justify-content: center;
    align-items: center;
    background-color: var(--ChocoGreyTransp); 
    padding: 5px;
    border-radius: 50%;
}

.leftArrow{
    left: 10px;
}

.rightArrow{
    right: 10px;
    }

.leftArrow svg, .rightArrow svg{
    height: 30px;
    width: 30px;
    fill: var(--ChocoBlanc);
}

.carouselDots{
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
}

.imgDot{
    height: 15px;
    width: 15px;
    background-color: var(--ChocoBlanc);
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.imgDot:hover{
    transform: scale(1.2);
}

.imgDotActive{

    background-color: grey;
}

.mainTitle{
    text-align: center;
    top: 25%;
    font-size: 2em;
    color: var(--ChocoBlanc);
    font-weight: bolder;
    transition: color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
    transition: border 1s ease-in-out;



}


.mainButton{
    display: block;
    padding: 25px;
    border: 5px solid var(--ChocoMarron);
    color: var(--ChocoBleu);
    font-size: 1.2em;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    transition: color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
    transition: border 1s ease-in-out;
    
}


/*Theme blanc photo Acceuil 1*/

.themeMainButton1{
color: var(--ChocoBleu);
border: 2px solid var(--ChocoBleu);
background-color: var(--ChocoNoirTransp);

}


.themeTitle1{

    color: var(--ChocoNoirTransp);
        -webkit-text-stroke: 1px var(--ChocoBleu);
        text-stroke: 1px var(--ChocoBleu);
        text-shadow: none;

}

/*Theme Noir photo Acceuil 2*/

.themeMainButton0{
    color: var(--ChocoNoir);
    border: 2px solid var(--ChocoNoir);
    background-color: var(--ChocoBlancTransp);
    
    }
    
    
    .themeTitle0{
    
        color: var(--ChocoBlancTransp);
        -webkit-text-stroke: 2px var(--ChocoNoir);
        text-stroke: 2px var(--ChocoNoir);
        text-shadow: none;
    
    }

/*Theme Orange Marron photo Acceuil 3*/

.themeMainButton2{
    color: var(--ChocoMarron);
    border: 5px solid var(--ChocoMarron);
    background-color: var(--ChocoOrangeTransp);
    
    }
    
    
    .themeTitle2{
    
        color: var(--ChocoOrangeTransp);
        -webkit-text-stroke: 1px var(--ChocoMarron);
        text-stroke: 1px var(--ChocoMarron);
        text-shadow: none;
    
    }



@media screen and (min-width:768px){

.mainTitle{
    font-size: 4em;
}

.mainButton{
    font-size: 2em;
    padding: 40px;


}

.leftArrow svg, .rightArrow svg{
    height: 48px;
    width: 48px;
}


.leftArrow{
    left: 15px;
}

.rightArrow{
    right: 15px;
    }

}