*{
box-sizing: border-box;
margin: 0;
padding: 0;



}

a{text-decoration: none;}

#filters{
    min-width: 20%;
    margin: 20px;
    border: 0.5px solid var(--ChocoBleu);
    border-radius: 20px;
    padding: 10px;
    height: fit-content;
}



#filters h3{
    color: var(--ChocoMarron);
    margin: 5px;
    font-size:x-large;
}

/*
#filters h3::first-letter{
    color: var(--ChocoMarron);
}*/


.filtreCont{
margin: 15px;

}

.filtreCont h4{
    color: var(--ChocoOrange);
    font-size: larger;
}

/*
.filtreCont h4::first-letter{
    color: var(--ChocoOrange);
}*/

.filtreContTitle{
    color: var(--ChocoMarron);
}

.checkWithLabel{
    padding: 5px;
    font-size: larger;
}

.selectCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showCat div{
    display:flex;
}

.hideCat div{
    display: none;
}

.showPrice div{
    display:flex;
}

.hidePrice div{
    display: none;
}

.showNotes div{
    display:flex;
}

.hideNotes div{
    display: none;
}

#filters div select{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 20px;
    text-align: center;

}

input[type=checkbox]{
accent-color: var(--ChocoMarron);
width: 15px;

}

#catPlus>svg, #prixPlus>svg, #notesPlus>svg{
    fill: var(--ChocoBleu);
}



@media screen and (min-width:1000px){

    #filters{

        position: sticky;
        top: 12vh;
    }

        #catPlus, #prixPlus, #notesPlus{
            display: none;
        }
   
        
        .hideCat div{
            display: flex;
            
        }

        .hidePrice div{
            display: flex;
            padding: 5px;
            font-size: larger;

        }

        .hideNotes div{
            display: flex;
            padding: 5px;
            font-size: larger;
        }

        .hideCat div select, .hidePrice div select, .hideNotes div select {
            width: 50%;
        }




}
