:root {
    --ChocoBlanc: #FFFFFF;
    --ChocoBleu: #55C0CF;
    --ChocoGris: #2C1E1E;
    --ChocoNoir: #1F1615;
    --ChocoMarron: #B65F28;
    --ChocoOrange: #FFD543;
    --ChocoOrangeTransp: rgba(255, 213, 67, 0.8);
    --ChocoOrangeTransp2: rgba(255, 213, 67, 0.1);
    --ChocoBlancTransp: rgba(255, 255, 255, 0.7);
    --ChocoNoirTransp: rgba(31, 22, 21, 0.7);
    --ChocoGrisTransp: rgba(44, 30, 30, 0.7);
    --ChocoGreyTransp: rgba(128, 128, 128, 0.55);

    --ChocoTitres: 'Fjalla One', sans-serif;
    --ChocoTextes: 'Noto Sans', sans-serif;

    --ChocoMaxWidth: 1600px;
    --ChocoInnerWidth: 1440px;



}


body {
    font-family: var(--ChocoTextes);
    max-width: var(--ChocoMaxWidth);
    margin: 0 auto;
    min-height: 100vh;
    color: var(--ChocoNoir);
    overflow-x: hidden;
    background-color: var(--ChocoBlanc);
}




h1,
h2,
h3,
h4 {
    font-family: var(--ChocoTitres);

}


/******************************Home************************************************/

#homeMain {
    position: relative;

}



/*****************************Boutique*************************************/
#products,
#boutiqueWrapper {
    display: flex;
}

#products {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
}


.mainBoutique {
    display: grid;
    grid-template-rows: 80px 1fr;
    position: relative;

}



#boutiqueTitle {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: var(--ChocoNoir);
    margin-top: 10px;
}


#boutiqueWrapper {
    flex-direction: column;
}

.checkWithLabel label,
.checkWithLabel input {
    cursor: pointer;

}

.checkWithLabel label {
    margin-left: 5px;
}

#nbResult {
    padding: 15px;
    margin-left: 50px;
    font-size: 1.2em;

}

/*******************************Filtres************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}


#filters,
#filters div select {
    border-radius: 20px;
    padding: 10px;
}

.selectCont,
.showCat div,
.showPrice div,
.showNotes div {
    display: flex;
}

.hideCat div,
.hidePrice div,
.hideNotes div {
    display: none;
}

#filters {
    min-width: 300px;
    margin: 20px;
    border: 1px solid var(--ChocoBleu);
    height: fit-content;
}



#filters h3 {
    color: var(--ChocoNoir);
    margin: 5px;
    font-size: x-large;
}


.filtreCont {
    margin: 15px;

}

.filtreCont h4 {
    color: var(--ChocoGris);
    font-size: larger;
    display: flex;
    justify-content: space-between;
    width: 45%;
    align-items: center;
}


.filtreContTitle {
    color: var(--ChocoMarron);
}

.checkWithLabel {
    padding: 5px;
    font-size: larger;
}

.selectCont {
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}



#filters div select {
    font-size: 1.2rem;
    text-align: center;
    width: fit-content;

}

input[type=checkbox] {
    accent-color: var(--ChocoMarron);
    width: 15px;

}

#catPlus>svg,
#prixPlus>svg,
#notesPlus>svg {
    fill: var(--ChocoMarron);
    cursor: pointer;
    width: 30px;
    height: 30px;
}




/****************************Fiche produit seul********************************************/
#singleProductMain,
#backToShop,
.contCartButton {
    display: flex;
}

#singleProductMain,
#backToShop {
    flex-direction: column;
}

#singleProductMain {
    gap: 20px;
    position: relative;
    margin: 0 auto;
}

#singleProductMain p,
#singleProductImg {
    margin: 10px auto;

}

#singleProductMain p {
    width: 95%;
}

#singleProductImg img,
.contCartButton {
    width: 100%;
}


#singleProductImg img {
    border-radius: 20px;
    object-fit: cover;
    border: 0.5px solid var(--ChocoBleu);
}

#singleProductImg {
    max-height: 300px;
    max-width: 95%;
}

.singleProductTitle {
    margin-top: 20px;
    margin-left: 20px;
    color: var(--ChocoNoir);
    font-size: 3rem;
}

.singleProductPrice {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--ChocoMarron);
}

#singleProductIngredients h4 {
    color: var(--ChocoNoir);
    font-size: larger;
    margin: 25px;
}


#backToShop {
    width: fit-content;
    padding: 15px;
    margin-left: 50px;
    font-size: 0.9em;
    justify-content: center;
    text-decoration: underline;
}

#backToShop:hover {
    cursor: pointer;
}

.contCartButton {
    justify-content: center;
}



/**************************************Media Queries*******************************/


@media screen and (min-width:768px) {



    input[type=number]::-webkit-inner-spin-button {
        opacity: 1;
    }


    #singleProductMain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 2fr 2fr;

    }

    #infosWrapper {

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img infos";
        max-height: 60%;
        gap: 25px;
        align-items: center;
        margin: 50px;

    }

    #singleProductInfos {
        width: 100%;
        grid-area: infos;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    #singleProductImg {
        display: flex;
        grid-area: img;
        border-radius: 20px;
    }




}

@media screen and (min-width:1000px) {

    #boutiqueWrapper {
        flex-direction: row;


    }

    /***Filtres****/

    #filters {

        position: sticky;
        top: 12vh;
    }

    #catPlus,
    #prixPlus,
    #notesPlus {
        display: none;
    }


    .hidePrice div,
    .hideNotes div {

        padding: 5px;
        font-size: larger;

    }

    .hideCat div,
    .hidePrice div,
    .hideNotes div {
        display: flex;
    }

    .hideCat div select,
    .hidePrice div select,
    .hideNotes div select {
        width: 50%;
    }





}