:root{
    --ChocoBlanc:#FFFFFF;
    --ChocoBleu:#55C0CF;
    --ChocoGris:#2C1E1E;
    --ChocoNoir:#1F1615;
    --ChocoMarron:#B65F28;
    --ChocoOrange:#FFD543;
       
    --ChocoTitres: 'Fjalla One', sans-serif;
    --ChocoTextes: 'Noto Sans', sans-serif;
    --ChocoMaxWidth:1440px;


}


body{
font-family: var(--ChocoTextes);
max-width: var(--ChocoMaxWidth);
margin: 0 auto;
min-height: 100vh;
color: var(--ChocoBlanc);
overflow-x: hidden;
background-color: var(--ChocoNoir);


}


/*Header*/

h1, h2, h3, h4{
font-family: var(--ChocoTitres);

}

header{
position: sticky;
top: 0;
    z-index: 10;
    background-color: var(--ChocoGris);
    padding-top: 10px;
}


.logo{width: 80px;
}

.logo:hover{
cursor: pointer;

}

.icCart{width: 50px;}

.imgAcc{
left: 90vw;
margin: 0 auto;

}

#mainNav{
position: relative;
z-index: 5;
transition: left 1s;


}

.showNav{
    left: 0;
    height: auto;

}

.hideNav{

   
top: -100vh;
height: 0;
}

#mainNav ul{
display: flex;
flex-direction: column;
list-style: none;

}

#mainNav ul li{
padding: 5px;
justify-self: center;
font-weight: bold;

}

#mainNav ul li:hover{
cursor: pointer;

}

a{
all:unset;

}





.burgerMenu{
    display: block;
position: absolute;
top: 10px;
right: 10px;

}




/*Fin Header*/


/**************Footer*********************************************/



#mainFooter{
display: flex;
flex-direction: column;
background-color: var(--ChocoGris);

}

#footText{

    display: flex;
    flex-direction: column;
    margin: 10px;
}

#footContact{

    display: flex;
    flex-direction: column;
    margin: 10px;


}


#socials{
display: flex;
flex-direction: row;
margin: 10px;


}


#socials svg{
height: 48px;
width: 48px;

}

main{min-height: 80vh;}



/******************************Panier************************************************/

#panier{
position: absolute;
top:0;

width: 100%;
height: 100%;
background-color: var(--ChocoBleu);
transition: right 0.5s linear, display 0s linear 600ms;



}

.showPanier{

    right: 0;


}


.hidePanier{

right: -150vw;



}


/*****************************Boutique*************************************/

#products {
display: flex;
flex-wrap: wrap;
gap:25px;

}


.mainBoutique{
display: grid;
grid-template-rows: 80px 1fr;
position: relative;

}

#boutiqueTitle{
text-align: center;
margin: 25px;
font-size: x-large;
font-weight: bolder;

}

#boutiqueWrapper{
display: flex;
flex-direction: column;


}

.checkWithLabel label, .checkWithLabel input {
cursor: pointer;

}

.checkWithLabel label {

    margin-left: 5px;
}


/****************************Fiche produit seul********************************************/
#singleProductMain{
display: flex;
flex-direction: column;


}



/**************************************Media Queries*******************************/


@media screen and (min-width:768px){

    .burgerMenu{
        display: none;
    }
    
#mainHeader{
display: flex;
justify-content: space-between;

}

#mainNav{

  

    width: 30%;
   top: unset;
    position: static;
    align-self: center;
    height: auto;

}

 


#mainNav ul{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
    }



    #mainFooter{
        
   display: grid;
   grid-template-columns: repeat(3, 1fr);
        
        }

#socials{align-self: center;}

#boutiqueWrapper{
    flex-direction: row;
    
    
    }



    #panier{
        width: 60%;
        height: 100%;
        
        
        
        
        }

        #singleProductMain{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            
            
            }

    #infosWrapper{

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img infos";
        max-height: 60%;
        gap: 25px;
        align-items: center;
        
    }

    #singleProductInfos{
width: 45%;
grid-area: infos;
display: flex;
flex-direction: column;
align-items: center;

    }



    #singleProductImg img{
        display: flex;
        width: 100%;
        grid-area: img;
        
            }



}

