:root{
    --ChocoBlanc:#FFFFFF;
    --ChocoBleu:#55C0CF;
    --ChocoGris:#2C1E1E;
    --ChocoNoir:#1F1615;
    --ChocoMarron:#B65F28;
    --ChocoOrange:#FFD543;
       
    --ChocoTitres: 'Fjalla One', sans-serif;
    --ChocoTextes: 'Noto Sans', sans-serif;
    --ChocoMaxWidth:1440px;


}


body{
font-family: var(--ChocoTextes);
max-width: var(--ChocoMaxWidth);
margin: 0 auto;
min-height: 100vh;


}


/*Header*/

h1, h2, h3, h4{
font-family: var(--ChocoTitres);

}


.logo{width: 80px;

}

.icCart{width: 50px;}

.imgAcc{
width: 90vw;
margin: 0 auto;

}


/*Fin Header*/


/**************Footer*********************************************/

#mainFooter{
display: flex;
flex-direction: column;


}

#footText{

    display: flex;
    flex-direction: column;
    margin: 10px;
}

#footContact{

    display: flex;
    flex-direction: column;
    margin: 10px;


}


#socials{
display: flex;
flex-direction: row;
margin: 10px;


}


#socials svg{
height: 48px;
width: 48px;

}








/**************************************Media Queries*******************************/


@media screen and (min-width:768px){
    
#mainHeader{
display: flex;


}



    #mainFooter{
        
   display: grid;
   grid-template-columns: repeat(3, 1fr);
        
        }

#socials{align-self: center;}


    
}

