.customButton {
    background-color: #55C0CF;
    color: var(--ChocoGris);
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
    transition: background-color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

.customButton:hover {
    background-color: #2C1E1E;
    color: #FFD543;
}

.customButton:active {
    background-color: #1F1615;
    color: #B65F28;
}

.visibility{

display: unset;

}


@media screen and (min-width: 768px) {
    
    .visibility{

        display: none;



    }
   
    
}





